Repository Twonki/Hopinosis, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Code, Documentation, Configuration, Git

Added Path-Value-Checks
  .github/workflows/stale.yml
  Src/Core/Path.hs
  Src/Hopinosis.hs
Labels: Code, Configuration

Some Dummy Tests
  Src/Core/Path.hs
  Test/Tests/GraphTests.hs
Labels: none

Added Path-Internals into structure
  .gitignore
  Hopinosis.cabal
  Src/Core/Path.hs
  Src/Core/Path/Internals.hs
Labels: Configuration, Git

Added UnitTests for Path-Starts
  Test/Tests/PathTests.hs
  Test/Tests/TestSuite.hs
  Test/UnitTests.hs
Labels: Test

Fiddling with shortening
  Test/Tests/TestSuite.hs
Labels: none

Added ValidPath Tests, more patterns in Cyclic, added AllPathTests
  Src/Core/Path.hs
  Src/Core/Path/Internals.hs
  Test/Tests/PathTests.hs
  Test/Tests/TestSuite.hs
Labels: none

Added simple AllPaths
  Src/Core/Path/Internals.hs
  Src/Hopinosis.hs
Labels: Code

Added some more Sanity Tests on Path
  Test/Tests/PathTests.hs
Labels: none

Added some BugCatchingTests
  Test/Tests/GraphTests.hs
  Test/Tests/PathTests.hs
Labels: none

Added BugTests to allPaths, allPaths does now not only show longest paths
  Hopinosis.cabal
  Src/Core/Node.hs
  Src/Core/Path/Internals.hs
  Src/Hopinosis.hs
  Test/Tests/GraphTests.hs
  Test/Tests/PathTests.hs
Labels: Code, Configuration

SigmaAlpha for PathStarts
  Src/Core/Graph.hs
  Src/Core/Node.hs
  Src/Core/Path.hs
  Src/Core/Path/Internals.hs
  Test/Tests/GraphTests.hs
  Test/Tests/NodeTests.hs
  Test/Tests/PathTests.hs
  Test/Tests/TestSuite.hs
Labels: none

Added AllPathsWithZeroAlpha
  Src/Core/Path.hs
  Src/Core/Path/Internals.hs
  Test/Tests/PathTests.hs
Labels: none

Cleaning some currying
  Src/Core/Path.hs
  Src/Core/Path/Internals.hs
  Test/Tests/PathTests.hs
Labels: none

Cleanup and two sanity path-tests for sentences in sentences
  Hopinosis.cabal
  Src/Core/Graph.hs
  Src/Core/Path/Internals.hs
  Src/Hopinosis.hs
  Test/Tests/PathTests.hs
Labels: Code, Configuration

Implementation of Metrics #11
  Hopinosis.cabal
  Src/Core/Metric.hs
  Src/Core/Path.hs
  Src/Hopinosis.hs
Labels: Code, Configuration

Added simple Tests for Metrics
  Hopinosis.cabal
  Test/Tests/MetricTests.hs
  Test/Tests/TestSuite.hs
  Test/UnitTests.hs
Labels: Test, Configuration

One more sanityTest
  Test/Tests/GraphTests.hs
Labels: none

Cosine Similarity and Tests for #14
  Src/Core/Metric.hs
  Test/Tests/MetricTests.hs
Labels: none

Added Draft for Best-Path Selection
  Hopinosis.cabal
  Src/Core/Metric.hs
Labels: Configuration

Added Solution without superset
  Src/Core/Metric.hs
Labels: none

3 Sanity Tests for bestPaths
  Test/Tests/MetricTests.hs
Labels: none

Fixed validPathsWithLength, renamed 'full-cycle' to opinosisSummary
  Src/Core/Metric.hs
  Src/Hopinosis.hs
Labels: Code

Inverted Distance function - highest distanced tuples are prefered
  Src/Core/Metric.hs
Labels: none

Typo in Length of candidates
  Src/Core/Metric.hs
Labels: none

Initial Split for Selector and Metric, and Internals #
  Src/Core/Metric.hs
  Src/Core/Selector.hs
  Src/Core/Selector/Internals.hs
  Src/Hopinosis.hs
Labels: Code

Added Core.Types module, which holds all types
  Src/Core/Graph.hs
  Src/Core/Metric.hs
  Src/Core/Node.hs
  Src/Core/Path.hs
  Src/Core/Path/Internals.hs
  Src/Core/Selector/Internals.hs
  Src/Core/Types.hs
  Src/Hopinosis.hs
Labels: Code

New module Structure for Cabal Tests #16
  Hopinosis.cabal
  Test/Tests/TestSuite.hs
Labels: Configuration

Renamed Selector to Selection #16
  Hopinosis.cabal
  Src/Core/Selection.hs
  Src/Core/Selection/Internals.hs
  Src/Core/Types.hs
  Src/Hopinosis.hs
  Test/Tests/TestSuite.hs
Labels: Code, Configuration

splitted Selection Tests and Metric Tests #16
  Hopinosis.cabal
  Test/Tests/MetricTests.hs
  Test/Tests/SelectionTests.hs
Labels: Configuration

more Tests for bestPaths with simplest metrics
  Test/Tests/SelectionTests.hs
  Test/UnitTests.hs
Labels: Test

Added LengthCheck for BestPaths
  Src/Core/Selection/Internals.hs
Labels: none

Renamed Workflow to not have Space
  .github/workflows/build.yml
Labels: Configuration

Added Github Badge for Badge
  README.md
Labels: Documentation

Added Licence Badge
  README.md
Labels: Documentation

Added first steps haddock, and gitignore results #4
  .gitignore
  Src/Core/Node.hs
Labels: Configuration, Git

made a nicer values description
  Src/Core/Node.hs
Labels: none

Forgot one merge
  Src/Core/Node.hs
Labels: none

more Documentation and an info how to do the doc in readme #10
  README.md
  Src/Core/Graph.hs
  Src/Core/Path.hs
  Src/Core/Types.hs
  Src/Hopinosis.hs
Labels: Code, Documentation

fixed readme at some points
  README.md
Labels: Documentation

added Doc for Path Internals #10
  README.md
  Src/Core/Path/Internals.hs
Labels: Documentation

.github/labeler.yml:

Test:
- Test/*
Code:
- Src/*

Documentation:
- README.md
- CONTRIBUTING.md
- LICENCE

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- .*.cabal
- Setup.hs
- Hopinosis.cabal
- .gitignore

Git:
- .github/*
- .gitignore
