Repository Twonki/Hopinosis, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Code, Documentation, Configuration, Git

used simple commons #22
  Hopinosis.cabal
Labels: Configuration

Coverage is apparently working
  Hopinosis.cabal
Labels: Configuration

removed Wall and increased version number
  Hopinosis.cabal
Labels: Configuration

made internal libraries properly hidden, commented out related tests
  Hopinosis.cabal
  Test/Tests/PathTests.hs
  Test/Tests/SelectionTests.hs
Labels: Configuration

Removed commented-out internal tests from files
  Test/Tests/PathTests.hs
  Test/Tests/SelectionTests.hs
Labels: none

removed stale workflow [too annyoing]
  .github/workflows/stale.yml
Labels: Configuration

Added Cabal genbounds closes #18
  Hopinosis.cabal
Labels: Configuration

Increased Cabal version, minor version bump
  Hopinosis.cabal
Labels: Configuration

Tryfix ci/cd pipeline with cabal install
  .github/workflows/build.yml
  Hopinosis.cabal
Labels: Configuration

Add tryfix ci / cd 2
  .github/workflows/build.yml
  Hopinosis.cabal
Labels: Configuration

Add tryfix ci / cd 3
  .github/workflows/build.yml
  Hopinosis.cabal
Labels: Configuration

Add tryfix ci / cd 4
  .github/workflows/build.yml
  Hopinosis.cabal
Labels: Configuration

Add tryfix ci / cd 5
  .github/workflows/build.yml
Labels: Configuration

new Structure with Executable and Library
  App/Program.hs
  Hopinosis.cabal
  Lib/Core/Graph.hs
  Lib/Core/Metric.hs
  Lib/Core/Node.hs
  Lib/Core/Path.hs
  Lib/Core/Path/Internals.hs
  Lib/Core/Selection.hs
  Lib/Core/Selection/Internals.hs
  Lib/Core/Types.hs
  Lib/Hopinosis.hs
Labels: Configuration

Minor linting in App, cabal file working
  App/Program.hs
  Hopinosis.cabal
Labels: Configuration

Added Sample Files
  Files/coon.txt
  Files/darkwing.txt
  Files/reviews.txt
Labels: none

MDLinting readme and samples, added how to run app to readme
  .gitignore
  README.md
  samples.md
Labels: Documentation, Configuration, Git

Added (very) simple integrationtest
  Hopinosis.cabal
  Test/IntegrationTests.py
Labels: Test, Configuration

Added Python Test to CI
  .github/workflows/build.yml
Labels: Configuration

Added explicit python version checkout
  .github/workflows/build.yml
Labels: Configuration

Testing Build
  .github/workflows/build.yml
Labels: Configuration

Added another line to run
  .github/workflows/build.yml
Labels: Configuration

Added optparsec data object to program, and parser. Added dependency
  App/Program.hs
  Hopinosis.cabal
Labels: Configuration

Using Ottoparsec dummy, version bump
  App/Program.hs
  Hopinosis.cabal
Labels: Configuration

Proper working console app
  App/Program.hs
Labels: none

Added Similiarity Choice, updated readme and samples
  App/Program.hs
  README.md
  samples.md
Labels: Documentation

Added how to performance in readme
  .gitignore
  README.md
Labels: Documentation, Configuration, Git

Updated Readme to show how to run inspection of performance
  .gitignore
  Hopinosis.cabal
  README.md
  samples.md
Labels: Documentation, Configuration, Git

Added verbose-enabled timestamps to check on file-read #24
  App/Program.hs
Labels: none

Draft for evaluate to RNF
  App/Program.hs
  Hopinosis.cabal
Labels: Configuration

Removed ALL parallelism for now, minor version bump to 0.1.3.2
  CONTRIBUTING.md
  Hopinosis.cabal
  Lib/Core/Graph.hs
  Lib/Core/Metric.hs
  Lib/Core/Selection/Internals.hs
  samples.md
Labels: Documentation, Configuration

minor
  Files/.gitignore
Labels: none

Added Internals for Metric and cpp files (unused at the moment)
  CONTRIBUTING.md
  Hopinosis.cabal
  Lib/Core/Metric.hs
  Lib/Core/Metric/Internals.hs
  Lib/Core/Metric/cosine_similarity.cpp
  Lib/Core/Metric/cosine_similarity.h
  Lib/Core/Selection/Internals.hs
  README.md
Labels: Documentation, Configuration

WIP commit
  CPP/cosine_similarity.cpp
  CPP/cosine_similarity.h
  Hopinosis.cabal
  Lib/Core/Metric/Internals.hs
  Lib/Core/Metric/cosine_similarity.h
  Test/Tests/MetricTests.hs
Labels: Configuration

.github/labeler.yml:

Test:
- Test/*
Code:
- Src/*

Documentation:
- README.md
- CONTRIBUTING.md
- LICENCE

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- .*.cabal
- Setup.hs
- Hopinosis.cabal
- .gitignore

Git:
- .github/*
- .gitignore
