Repository Twonki/Hopinosis, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Code, Documentation, Docker, Configuration, Git

Added Monoid Values #6 , WIP
  Src/Core/Node.hs
Labels: none

Fixed Tests after Value-Map-Migration, closes #6. Added Data.Map Dep
  Hopinosis.cabal
  Src/Core/Graph.hs
  Src/Core/Node.hs
  Test/Tests/NodeTests.hs
  Test/Tests/TestSuite.hs
Labels: none

Added Data.Map as Graphs, closes #5
  Src/Core/Graph.hs
  Src/Core/Node.hs
Labels: none

Cleaner Graph, fixed one export in Node
  Src/Core/Graph.hs
  Src/Core/Node.hs
Labels: none

WIP Newtyping Graph
  Src/Core/Graph.hs
Labels: none

Made Graph with newtype and as a monoid
  Src/Core/Graph.hs
Labels: none

Reworked Readme and Contributing
  CONTRIBUTING.md
  README.md
Labels: Documentation

Moved from String to Text, closes #1
  Hopinosis.cabal
  Src/Core/Graph.hs
  Src/Core/Node.hs
  Test/Tests/NodeTests.hs
Labels: none

Made Graph type instead of newtype Because map of a monoid is already a real and functioning monoid, which is already found by 'type' and doesnt need a newtype
  Src/Core/Graph.hs
Labels: none

Added parseSentence tests
  Src/Core/Graph.hs
  Src/Core/Node.hs
  Test/Tests/GraphTests.hs
  Test/UnitTests.hs
Labels: Test

Added parseDocumentTests
  Src/Core/Graph.hs
  Src/Core/Node.hs
  Test/Tests/GraphTests.hs
  Test/Tests/NodeTests.hs
Labels: none

Added simple workflow for #3
  .github/workflows/build.yml
Labels: Configuration

Slimmed matrix #3
  .github/workflows/build.yml
Labels: Configuration

typo in flow #3
  .github/workflows/build.yml
Labels: Configuration

Some more fiddling #3
  .github/workflows/build.yml
  .gitignore
Labels: Configuration, Git

Typo in workflow #3
  .github/workflows/build.yml
Labels: Configuration

Some more fiddling #3
  .github/workflows/build.yml
Labels: Configuration

forcefail test
  .github/workflows/build.yml
Labels: Configuration

Really ForceFailingTest!
  .github/workflows/build.yml
Labels: Configuration

CIStarter copied
  .github/workflows/build.yml
Labels: Configuration

Removed enableTests from install
  .github/workflows/build.yml
Labels: Configuration

fiddling
  .github/workflows/build.yml
Labels: Configuration

Working CI
  .github/workflows/build.yml
Labels: Configuration

Using Monoidal Data.Map, closing #7
  CONTRIBUTING.md
  Hopinosis.cabal
  README.md
  Src/Core/Graph.hs
  Src/Core/Node.hs
  Test/Tests/GraphTests.hs
  Test/Tests/NodeTests.hs
  Test/Tests/TestSuite.hs
Labels: Documentation

.github/labeler.yml:

Test:
- Test/*
Code:
- Src/*

Documentation:
- README.md
- CONTRIBUTING.md

Docker:
- ./**/Dockerfile
- ./**/docker-compose.yml

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- .cabal
- .gitignore

Git:
- .github/*
- .gitignore
