Repository Twonki/Hopinosis, changes with the labels that .github/labeler.yml gives for each.
All labels: Test, Code, Documentation, Configuration, Git

.github/labeler.yml:

Test:
- Test/*
Code:
- Src/*

Documentation:
- README.md
- CONTRIBUTING.md
- LICENCE

Configuration:
- .github/*.yml
- .github/*.yaml
- .github/**/*.yml
- .github/**/*.yaml
- .github/workflow/*
- .*.cabal
- Setup.hs
- Hopinosis.cabal
- .gitignore

Git:
- .github/*
- .gitignore

Enhanced Documentation for Path and Path Internals #10, changed default for commonBestPaths, reduced some imports where possible
  Src/Core/Graph.hs
  Src/Core/Metric.hs
  Src/Core/Node.hs
  Src/Core/Path.hs
  Src/Core/Path/Internals.hs
  Src/Core/Selection.hs
Labels: none

Added more documentation on Selection Internals #10
  Src/Core/Selection/Internals.hs
  Src/Hopinosis.hs
Labels: Code

Docu for Metric
  Src/Core/Metric.hs
Labels: none

More Docu, Headers and Description of Types #10
  Src/Core/Metric.hs
  Src/Core/Selection.hs
  Src/Core/Types.hs
Labels: none

made two more functions, added docs, closes #10
  Src/Hopinosis.hs
Labels: Code

Found right cabal command for documentation #10
  README.md
Labels: Documentation

Readme
  README.md
Labels: Documentation

Started Hlinting
  Src/Core/Graph.hs
  Src/Core/Metric.hs
  Src/Core/Node.hs
  Src/Core/Path/Internals.hs
  Src/Hopinosis.hs
Labels: Code

Finished (?) hlinting
  Src/Core/Path/Internals.hs
  Src/Core/Selection/Internals.hs
Labels: none

restored build
  Src/Hopinosis.hs
Labels: Code

re-applied linting
  Src/Hopinosis.hs
Labels: Code

Added Jaccard Distance and Tests closes #19
  README.md
  Src/Core/Metric.hs
  Test/Tests/MetricTests.hs
Labels: Documentation

Added some samples with sometimes times #15
  samples.md
Labels: none

Added Groundwork for QuickCheck, first Property in place #17
  Hopinosis.cabal
  Test/Tests/NodeTests.hs
  Test/Tests/TestSuite.hs
  Test/UnitTests.hs
Labels: Test, Configuration

Altered structure how to promote properties to unit tests
  Test/Tests/NodeTests.hs
  Test/Tests/TestSuite.hs
  Test/UnitTests.hs
Labels: Test

Added some failing properties, because I am not using Sum-Types.
  Test/Tests/MetricTests.hs
  Test/Tests/NodeTests.hs
  Test/Tests/TestSuite.hs
  Test/UnitTests.hs
Labels: Test

Added Monoidal Wrappers for Sum and Any in place of values, removed UnitTests for Values
  Src/Core/Graph.hs
  Src/Core/Metric.hs
  Src/Core/Node.hs
  Src/Core/Path/Internals.hs
  Test/Tests/GraphTests.hs
  Test/Tests/NodeTests.hs
  Test/Tests/PathTests.hs
  Test/Tests/TestSuite.hs
Labels: none

Changed Sum Int to Sum Word, as magnitude and starts can never be negative
  Src/Core/Metric.hs
  Src/Core/Node.hs
Labels: none

Added two properties for jaccard distance
  Test/Tests/MetricTests.hs
  Test/Tests/TestSuite.hs
Labels: none

Added Reflexivity of DistanceFunctions
  Src/Core/Metric.hs
  Test/Tests/MetricTests.hs
Labels: none

removed deprecated hunit empty path tests after properties are working
  Test/Tests/MetricTests.hs
Labels: none

Added Dummy Ntuples and properties #15 #17
  Src/Core/Selection/Internals.hs
  Test/Tests/SelectionTests.hs
  Test/Tests/TestSuite.hs
  Test/UnitTests.hs
Labels: Test

ntuples used with max n
  Src/Core/Selection/Internals.hs
  Src/Hopinosis.hs
  Test/Tests/SelectionTests.hs
  Test/Tests/TestSuite.hs
Labels: Code

Commented unfullfilled properties out, added Meta-Metric-Functions for #20
  Src/Core/Metric.hs
  Src/Core/Types.hs
  Test/Tests/SelectionTests.hs
Labels: none

new go-implementation for ntuples #15
  Src/Core/Selection/Internals.hs
Labels: none

added dependency on nubsort
  Hopinosis.cabal
  Src/Core/Selection/Internals.hs
Labels: Configuration

jaccardSim redo, removed deprecated unit tests (are covered by properties)
  Src/Core/Metric.hs
  Test/Tests/MetricTests.hs
Labels: none

Enhanced JaccardSim and strongified MetricProperties
  Src/Core/Metric.hs
  Test/Tests/MetricTests.hs
Labels: none

Added Summarize Function without distances #15
  Src/Hopinosis.hs
Labels: Code

Samples added to main-readme
  README.md
Labels: Documentation

Removed versions from cabal file
  Hopinosis.cabal
Labels: Configuration

Added some samples, and linked the samples
  README.md
  samples.md
Labels: Documentation

Added parallel dependency and moved to 0.0.2
  Hopinosis.cabal
  Src/Core/Metric.hs
Labels: Configuration

TryAdd some parallel maps with rpar strategy
  Src/Core/Selection/Internals.hs
Labels: none

Added some -Wall optimization, but removed -Wall from cabal
  Hopinosis.cabal
  Src/Core/Graph.hs
  Src/Core/Metric.hs
  Src/Core/Node.hs
  Src/Core/Path/Internals.hs
  Src/Core/Selection/Internals.hs
Labels: Configuration

minor
  Test/Tests/MetricTests.hs
Labels: none

Added parmap to Graph parsing
  Src/Core/Graph.hs
Labels: none

switched from String to Text for my library, api-breaking changes
  Hopinosis.cabal
  Src/Hopinosis.hs
Labels: Code, Configuration

Fixed Text splitting, as endbyoneof was not defined for Text
  Src/Hopinosis.hs
Labels: Code

Added rnf to nodes, closes #23. Increased version number
  Hopinosis.cabal
  Src/Core/Node.hs
Labels: Configuration
